@model IEnumerable<QuanLyThuVien.Models.Book>

@{
	ViewData["Title"] = "Index";
	var categories = ViewBag.Categories as SelectList;
	var categoryId = Context.Request.Query["id"].ToString();
	var selectedCategory = categories.FirstOrDefault(c => c.Value == categoryId);
}


<div class="row mb-3">
	<div class="col-md-4">
		<form id="categoryForm" method="get" asp-action="FilterByCategory" asp-controller="Book">
			<div class="input-group">
				<select class="form-select" name="id" id="categorySelect">
					<option value="-1">All</option>
					<option value="@selectedCategory" selected>@selectedCategory.Text</option>
					@foreach (SelectListItem category in categories)
					{
						if (category.Value != selectedCategory.Value)
						{
							<option value="@category.Value">@category.Text</option>
						}
					}

				</select>
			</div>
		</form>
	</div>
</div>

<script>
	document.getElementById('categorySelect').addEventListener('change', function () {
		document.getElementById('categoryForm').submit();
	});
</script>


<div class="row">
	<div class="col-md-12">
		<div class="row row-cols-1 row-cols-md-5 g-4">
			@foreach (var item in Model)
			{
				<div class="col">
					<div class="card">
						<a asp-action="Details" asp-controller="Book" asp-route-id="@item.Id">
							<img src="@item.ImageUrl" class="card-img-top" alt="@item.Title" />
						</a>
						<div class="card-body">
							<a class="nav-link p-0" asp-action="Details" asp-controller="Book" asp-route-id="@item.Id">
								<h5 class="card-title">@item.Title</h5>
							</a>
							<p class="card-text">Tác giả: @item.Author</p>
							<p class="card-text">Thể loại: @item.Category.Name</p>
							<p class="card-text">Số lượng còn lại: @item.Quantity</p>
						</div>
					</div>
				</div>
			}
		</div>
	</div>
</div>

