@model QuanLyThuVien.Models.Book

@{
	ViewData["Title"] = "Details";
}

<div class="mt-4">
	<a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
	<a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>

<div class="row book-details">

	<div class="col-md-4 book-img-container">
		<img class="book-image" src="@Html.DisplayFor(model => model.ImageUrl)" />
	</div>

	<div class="col-md-8 book-info">
		<dl class="row">
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.Title)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.Title)
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.Author)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.Author)
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.Publisher)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.Publisher.Name)
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.YearPublished)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.YearPublished)
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.Category)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.Category.Id)
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.Quantity)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.Quantity)
			</dd>
		</dl>
	</div>

	<div class="col-md-12 description mt-4">
		<div class="description-wrapper">
			@Html.Raw(Model.Description)
		</div>
	</div>

</div>

<div class="mt-4">
	<a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
	<a asp-action="Index">Back to List</a>
</div>

<style>
	.description-wrapper {
		padding: 10px;
	}

	img {
		max-width: 100%; /* Chiều rộng tối đa bằng 100% kích thước thẻ cha */
		max-height: 100%; /* Chiều cao tối đa bằng 100% kích thước thẻ cha */
	}
</style>
